<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Сайт</title>
    {% include 'static.html' %}

  </head>

  <body style="padding-top:0px;">
  <style>
      .without-background:focus, .without-background:active, .without-background:hover {
          background-color: white !important;
          text-decoration: underline !important;
      }
      .without-background {
          font-size: 3em;

      }
  </style>
    <nav class="navbar">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">

              {% block navbar %} {% endblock %}

          </div>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          {% block content %} {% endblock %}
        </div>
      </div>
    </div>

  </body>
</html>
