{% extends "templates/base_template.html" %}


{% block navbar %}




  <ul class="nav navbar-nav">
    <li><a class="navbar-brand without-background" href="http://romanyakovlev.github.io">romanyakovlev.github.io</a></li>
  </ul>

  <!--<ul class="nav navbar-nav navbar-right">
    <li><a class="navbar-brand without-background" href="{{index_link}}">Главная</a></li>
</ul> -->

{% endblock %}


{% block content %}
  {% for article in articles_arr %}
    <a href="/articles/{{article['href']}}" style="font-size:2em;"><p>{{article['title']['title'][0]}}</p></a>
  {% endfor %}
{% endblock %}
